<div class="jumbotron">
  <h1 class="text-center">{{msg}}</h1>
  <hr>
  <h2 class="text-center">This Is Your Virtual Elephant Party Page!</h2>
</div>

<div class="box-container">
  <div class="wrapper animated bounceInLeft">
    <div class="company-info">

      <p>Each year around Christmas time people all over the world exchange gifts.
        To keep things interesting though, you can randomly assign persons to each other to give a present to one
        another.</p>
    </div>
    <div class="contact">
      <h3>Invite Your Friend</h3>
      {{msg}}
      <form method="POST" action="send">
        <p>
          <label>Name</label>
          <input type="text" id="innitation-name" name="name">
        </p>
        <p>
          <label>Email Address</label>
          <input type="email" id="invitation-email" name="email">
        </p>
        <p class="full">
          <label>Message</label>
          <textarea class="form-control" name="message" id="invitation-message" rows="2"></textarea>
        </p>
        <p class="full">
          <button id="invitation-button" type="submit">Submit</button>
        </p>
      </form>
    </div>
  </div>
</div>


<div id="home" {{hidden}}>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Your Name</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Your Name">
          </div>
          <div class="form-group">
            <label for="example-description">Gift Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Describe Your Gift"></textarea>
          </div>
          <div class="form-group">
            <label for="example-image">Gift Image</label>
            <textarea class="form-control" id="gift-image" aria-describedby="gift-image" placeholder="Upload a link to your image"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
      <div class="col-5 offset-2">
        <h3>Gift Pile:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">Secret Gift</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  $(document).ready(function{

  });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>