<div class="jumbotron bg-info">
  <h1 class="text-center"><img src="https://image.flaticon.com/icons/svg/113/113269.svg" id="elephant-logo" alt="logo">
    {{msg}} <img src="https://image.flaticon.com/icons/svg/113/113269.svg" id="elephant-logo" alt="logo"></h1>
</div>
<!--g added code below this line-->
<div class="text-center">
  <a href="/api/friend"><button class="btn btn-lg btn-danger"><span class="fa fa-credit-card"></span> Invite Your
      Friend</button></a>
</div>

<div id="home">
  <div class="container bg-light rounded">
    <div class="row col-md-12">
      <h2 class="text-center">Please fill out some information so that you can enter the party!</h2>
      <form class="clearfix mb-4 col-md-12" action="POST">
        <div class="form-group">
          <lable for="giver-text">Gifter</lable>
          <input type="text" id="giver-text" class="form-control" aria-describedby="giver-text" placeholder="Enter Who's Giving The Gift">
        </div>
        <div class="form-group">
          <label for="example-text">Gift Recipient</label>
          <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Who's Recieving The Gift">
        </div>
        <div class="form-group">
          <label for="example-description">Gift Description</label>
          <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Describe Your Gift"></textarea>
        </div>
        <div class="form-group">
          <label for="example-image">Gift Image</label>
          <textarea class="form-control" id="gift-image" aria-describedby="gift-image" placeholder="Upload A Link To Your Image"></textarea>
        </div>
        <button id="submit" class="btn btn-primary float-right bg-danger">Submit</button>
      </form>
        <h2 class="text-center">Please fill out some information so that you can enter the party!</h2>
        <form class="clearfix mb-4 col-md-12" action="POST">
          <div class="form-group">
            <lable for="giver-text">Gifter</lable>
            <input type="text" id="giver-text" class="form-control" aria-describedby="giver-text" placeholder="Enter Who's Giving The Gift">
          </div>

          <div class="form-group">
            <label for="example-text">Gift Recipient</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Who's Recieving The Gift">
          </div>
          <div class="form-group">
            <label for="example-description">Gift Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Describe Your Gift"></textarea>
          </div>
          <div class="form-group">
            <label for="example-image">Gift Image</label>
            <textarea class="form-control" id="gift-image" aria-describedby="gift-image" placeholder="Upload A Link To Your Image"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right bg-danger">Submit</button>
        </form>
    </div>
  </div>

  <br>

  <div class="container bg-light rounded">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Your Party Room</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <h2>Group Chat:</h2>
        <div id="elephant-chat">
          <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
          </div>
          <input id="handle" type="text" placeholder="Handle" />
          <input id="message" type="text" placeholder="Message" />
          <button class="btn bg-danger" id="send">Send</button>

        </div>
      </div>

      <div class="col-md-5 offset-2">
        <h2>Gift Pile:</h2>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}'s Gift from {{this.gifter}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p><a href="/api/friend">API Friend Invitation Page Link!</a>
  </div>
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/chat.js"></script>
<script src="/js/index.js"></script>